body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat","Avenir";
}
.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 20%;
	/*border:2px solid red;*/
	float:left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.5s;
	/*not all browser support transition: */
	-webkit-transition: background 0.6s;   
	/*engine of safari*/

	-moz-transition:background 0.6s;
	/*mozilla */
}
.container{
	margin: 0 auto;
	max-width: 600px;
}
#colorDisplay{
	font-size: 200%;
}
h1{
	color: white;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	background: steelblue;
	margin:0;
	line-height: 1.1;
	padding: 20px 0;
}

#stripe{
	background: white;
	text-align: center;
	height: 30px;
}

.selected{
	color: white;
	background: steelblue;
}
button{
	border:none;
	text-transform: uppercase;
	background: none;
	height: 100%; //100 percent of containing elem
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	color: steelblue;
	transition: all 0.3s;
	outline: none;
}
#message{
	display: inline-block;
	width: 20%;              //compulsory
}
button:hover{
	color: white;
	background: steelblue;
}